.sec4{
    padding: 50px 100px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.961), rgba(0, 0, 0, 0.3)), url("https://www.foodandwine.com/thmb/8-reBEkSSD3PPW2XAUJTW_k6VIs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Adobo-Chicken-Wings-FT-RECIPE0722-16280904bb054deca32db1d3a7dd4fe0.jpg") center/cover no-repeat;
    color: white;
}

@media screen and (max-width:576px) {
    .sec4{
        padding: 50px 20px ;
    }
}